.detailsbox{
    height: 100vh;
    background: rgb(41,177,179);
    background: linear-gradient(0deg, rgba(41,177,179,1) 0%, rgba(204,233,237,1) 100%);
}
.list1{
   display: flex;
   justify-content: space-between;
   width: 50vw;
   margin: auto;
   font-size: 20px;
   line-height: 40px;
}
.favbtn{
    background: none;
    border: none;
    color: blue;
    cursor: pointer;
    margin: 10px;
    font-size: 15px;
}
.favbtn:hover{
    color: rgb(255, 5, 5);
}